* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.header {
  height: 124px;
  border: red solid;
}
.header-box {
  border: 1px solid;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main {
  color: blue;
}
.container {
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  color: red;
  height: 156px;
}
.footer-box {
  border: 1px solid;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo {
}
.footer-nav {
  flex-grow: 1;
}
.footer-social {
}
.logo {
  max-width: 100px;
}
.logo img {
  width: 100%;
}
